<!--Tom Maier, 751605; Jerg Bengel, 752685-->
<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom/Chat</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css" integrity="sha256-BNW+3t9uHHS/KyIiHSAL804TxW0Lg9y9md/K0+mr94M=" crossorigin="anonymous"/>
	
    <script src="https://code.jquery.com/jquery-1.11.1.js" integrity="sha384-wciR07FV6RBcI+YEVsZy/bInxpyn0uefUp6Yi9R5r46Qv/yk/osR5nzY31koh9Uq" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js" integrity="sha256-p59pSboWBberEp3ZwWF6SjXeiWP/hlbTGzYdQ8RKOIw=" crossorigin="anonymous"></script>
    
	<script>
      var username =  "<%= username %>";
	  var language =  "<%= language %>";
    </script>
  </head>

  <body>
    <div class="container-fluid">

      <!-- HEADER -->
      <div class="pager-header fixed-top">
        <div class="row justify-content-center">
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
            <h1 class="display-4">Chatroom</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <div class="chatBox">

            <!--CHATHISTORY-->
            <div id="history" class="chatHistory">
            </div>

            <!--MESSAGEINPUT-->
            <form id="chatForm" action="" class="formPos">
              <div class="form-row">
                <div class="form-group col-xs-8 col-md-8">
                  <input id="m" type="text" class="form-control" name="message" placeholder="Nachricht eingeben..."/>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                  <input id="file" type="file" accept="video/*, audio/*, image/*"/>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                  <input id="sendBtn" type="submit" class=" form-control btn btn-md btn-primary btn-block" value="Senden"/>
				  <input id="cookie_id" type="hidden" name="_csrf" value=_csrf />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2">
          <div id="onlineUsers" class="userOnlineList">
            <div class="row">
              <div class="col-md-12 user-header">
                <h2>Online Users</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 userList">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </body>
</html>