<!--Tom Maier, 751605; Jerg Bengel, 752685-->
<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom/Chat</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>

    <link rel="stylesheet" href="common/bootstrap-4.0.0-dist/css/bootstrap.min.css" integrity="sha384-1a967e31c122b37af143698e8b00735bc350ecdbe35c8b10b0846a57ff10276a83478bdd6527b41abc4c72d26fef847b" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/stylesheet.css" integrity="sha256-5c201e5a872d564a7783e457b231a36bbefd6854c6495393f14fbed8d15cdc0b" crossorigin="anonymous"/>
	
    <script src="https://code.jquery.com/jquery-1.11.1.js" integrity="sha384-wciR07FV6RBcI+YEVsZy/bInxpyn0uefUp6Yi9R5r46Qv/yk/osR5nzY31koh9Uq" crossorigin="anonymous"></script>
    <script src="common/bootstrap-4.0.0-dist/js/bootstrap.min.js" integrity="sha384-fd50d6907e15ba4349e73828d28de1c76ebcd71b88014610ab8850a6b85dc741a7a6d364ee093d92a1fccafead11cc0c" crossorigin="anonymous"></script>
	
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js" integrity="sha384-34327a49492ff2bc482d85e9b0eac3c2bee9e719e255d640e471f2987052533d3d540113c12d7929d27bfecd2b107aa2" crossorigin="anonymous"></script>
    <script>
      var username =  "<%= username %>";
	  var language =  "<%= language %>";
    </script>
  </head>

  <body>
    <div class="container-fluid">

      <!-- HEADER -->
      <div class="pager-header fixed-top">
        <div class="row justify-content-center">
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-2">
            <h1 class="display-4">Chatroom</h1>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      </div>

      <!-- CONTENT -->
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <div class="chatBox">

            <!--CHATHISTORY-->
            <div id="history" class="chatHistory">
            </div>

            <!--MESSAGEINPUT-->
            <form id="chatForm" action="" class="formPos">
              <div class="form-row">
                <div class="form-group col-xs-8 col-md-8">
                  <input id="m" type="text" class="form-control" name="message" placeholder="Nachricht eingeben..."/>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                  <input id="file" type="file" accept="video/*, audio/*, image/*"/>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                  <input id="sendBtn" type="submit" class=" form-control btn btn-md btn-primary btn-block" value="Senden"/>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2">
          <div id="onlineUsers" class="userOnlineList">
            <div class="row">
              <div class="col-md-12 user-header">
                <h2>Online Users</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 userList">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </body>
</html>