<!--Tom Maier, 751605; Jerg Bengel, 752685-->
﻿<!DOCTYPE html>
<html lang="de">
<head>
    <title>Chatroom/Register</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <link rel="stylesheet" href="common/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="common/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        var mediaFile;

        function init() {

            $('#picture').before('<input type="button" id="button-file" class=" form-control btn btn-md btn-primary btn-block" value="Add File" onchange="checkIfMsgEx()"/> ');
            $('#picture').hide();
            $('body').on('click', '#button-file', function () {
                $('#picture').trigger('click');
            });

            $('#picture').on('change', function (e) {
                var file = e.originalEvent.target.files[0];
                var reader = new FileReader();
                reader.onload = function (evt) {
                    mediaFile = evt.target.result;
                    console.log('Prepared: ' + mediaFile);
                };
                reader.readAsDataURL(file);
            });
        }

        function nospaces(t) {

            if (t.value.match(/\s/g)) {

                alert('Sorry, you are not allowed to enter any spaces');

                t.value = t.value.replace(/\s/g, '');

            }

        }
    </script>
</head>
<body onload="init()">
    
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="pager-header fixed-top">
            <div class="row justify-content-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <h1 class="display-4">Chatroom</h1>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <!-- LOGIN -->
        <div class="row justify-content-center">
            <div class="col-md-4">
            </div>
            <div id="dataBox" class="col-xs-4 col-sm-4 col-md-4">
                <form class="form" role="form" action="/register" method="post">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <input class="form-control" name="username" placeholder="Nickname" type="text" maxlength="15" onkeyup="nospaces(this)" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-12'>
                            <input class="form-control" type="password" name="password" placeholder="Passwort" maxlength="15" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-12'>
                            <input class="form-control" id="picture" type="file" name="file" accept="image/*" placeholder="Upload Picture"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-12'>
                            <label for="language">Sprache wählen:</label>
                            <select class="form-control" name="language">
                                <option>German</option>
                                <option>English</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrieren">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</body>
</html>